body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: rgb(0, 255, 255);
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
    border-radius: 25px 7px;
}
.brand{
    display: flex;
    align-items: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: 1.3rem;
}



